/.vscode
/debug/
/file-history/
/ide/
/projects/
/todos/
/statsig/
/shell-snapshots/
/history.jsonl
/stats-cache.json
/.credentials.json
*.db
**/cache/**
**/.DS_Store
/config.json
/telemetry/

**/paste-cache/**
/backups/
/tasks/
/node_modules/
/plugins/marketplaces/
**/*.local.*
.env
.claude.json
/plugins/known_marketplaces.json
/get-shit-done/
/sessions/
/project-config.json
/image-cache/
/chrome/
/channels/inbox/sessions/
/tmp/
